<label><b>Beschreibung:</b></label>
<textarea rows="8" name="system.text">{{item.system.text}}</textarea>
<div class="flexrow">
    <label class="flex-fest-var" style="flex-basis: 100px"><b>Härte:</b></label>
    <div class="flexrow">
        <input
            name="system.haerte"
            value="{{item.system.haerte}}"
            type="text"
            data-dtype="String"
        />
        <label class="flex-fest-var" style="flex-basis: 100px; margin-left: 10px">
            <b>Beschädigung:</b>
        </label>
        <input
            name="system.beschaedigung"
            value="{{item.system.beschaedigung}}"
            type="text"
            data-dtype="String"
        />
    </div>
</div>
<div class="flexrow">
    <label class="flex-fest-var" style="flex-basis: 100px">
        <b>{{get_label 'gewicht'}}:</b>
    </label>
    <input
        name="system.gewicht"
        value="{{item.system.gewicht}}"
        type="text"
        data-dtype="Number"
    />
    <label class="flex-fest-var" style="flex-basis: 100px; margin-left: 10px">
        <b>{{get_label 'quantity'}}:</b>
    </label>
    <input
        name="system.quantity"
        value="{{item.system.quantity}}"
        type="text"
        data-dtype="Number"
    />
</div>
 <div class="flexrow">
    <label class="flex-fest-var" style="flex-basis: 100px"><b>Preis:</b></label>
    <input
        name="system.preis"
        value="{{item.system.preis}}"
        type="text"
        data-dtype="Number"
    />
    <label class="flex-fest-var" style="flex-basis: 100px; margin-left: 10px"><b>ST</b></label>
</div>
{{#if hasOwner}}
    {{#if (gte item.system.gewicht 0)}}
        <label class="flex-fest-var" style="flex-basis: 100px"><b>Aufbewahrungsort:</b></label>
        <select name="system.aufbewahrungs_ort">
            {{selectOptions speicherplatz_list selected=item.system.aufbewahrungs_ort valueAttr="value" labelAttr="label"}}
        </select>
    {{/if}}
{{/if}}