{{log 'fertigkeit' this}}
<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" /></h1>
        </div>
    </header>

    <div class="flexrow">
        <label><b>Attribute</b></label>
        <select name="system.attribut_0">
            {{#select item.system.attribut_0}} {{>
            systems/Ilaris/templates/helper/select_attribut.hbs}} {{/select}}
        </select>
        <select name="system.attribut_1">
            {{#select item.system.attribut_1}} {{>
            systems/Ilaris/templates/helper/select_attribut.hbs}} {{/select}}
        </select>
        <select name="system.attribut_2">
            {{#select item.system.attribut_2}} {{>
            systems/Ilaris/templates/helper/select_attribut.hbs}} {{/select}}
        </select>
    </div>

    <div class="flexrow">
        <label><b>Fertigkeitsgruppe</b></label>
        <select name="system.gruppe">
            {{#select item.system.gruppe}} {{>
            systems/Ilaris/templates/helper/select_fertigkeitsgruppe.hbs}} {{/select}}
        </select>
    </div>

    <div>
        {{#if hasOwner}}
        <div class="flexrow">
            <label>FW:</label>
            <input name="system.fw" value="{{item.system.fw}}" type="text" data-dtype="Number" />
        </div>
        {{/if}}
    </div>
    <div class="form-group stacked description">
        <label><b>Beschreibung</b></label>
        <textarea rows="6" name="system.text">{{item.system.text}}</textarea>
    </div>
</form>
