<!-- 2022-01-30 Streuner² -->
{{log 'talent' this}}
<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1>
            <input
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder='{{localize "Talent"}}'
            />
        </h1>
    </header>

    <div class="form-group">
        <label><b>Fertigkeit:</b></label>
        {{#if hasOwner}}
        <select name="system.fertigkeit">
            {{#select item.system.fertigkeit}} {{#each fertigkeit_list as |fert|}}
            <option value="{{fert}}">{{fert}}</option>
            {{/each}} {{/select}}
        </select>
        {{else}}
        <input
            name="system.fertigkeit"
            value="{{item.system.fertigkeit}}"
            type="text"
            data-dtype="String"
        />
        {{/if}}
    </div>
    <div class="form-group stacked description">
        <label><b>Beschreibung</b></label>
        <textarea rows="6" name="system.description">{{item.system.text}}</textarea>
    </div>
</form>
