{{log 'uebernatuerliche' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div>
            <div class="flexrow">
                <h6>Attribute</h6>
                <h6></h6>
                <h6></h6>
                <h6>Basis</h6>
                {{#if hasOwner}}
                <h6>FW</h6>
                {{/if}}
                <!-- !!!!Wichtig!!!!: PW geht so nicht: Er übernimmt die Berechnung nicht. Das ist auch mein Problem beim array bei den Talenten, denke ich -->
            </div>
            <div class="flexrow">
                <select name="system.attribut_0">
                    {{selectOptions config.attribute selected=item.system.attribut_0 valueAttr="value" labelAttr="label"}}
                </select>
                <select name="system.attribut_1">
                    {{selectOptions config.attribute selected=item.system.attribut_1 valueAttr="value" labelAttr="label"}}
                </select>
                <select name="system.attribut_2">
                    {{selectOptions config.attribute selected=item.system.attribut_2 valueAttr="value" labelAttr="label"}}
                </select>
                {{#if hasOwner}}
                <input
                    name="system.fw"
                    value="{{item.system.fw}}"
                    type="text"
                    data-dtype="Number"
                />
                {{/if}}
            </div>
            <label>Beschreibung</label>
            <textarea rows="6" name="system.text">{{item.system.text}}</textarea>
        </div>
    </div>
</form>
