{{log 'vorteil' this}}
<form class="{{cssClass}}">
    <div>
        <input class="titel-input" name="name" type="text" value="{{item.name}}" />
        <hr />
        <div class="flexrow">
            <label><b>Kategorie:</b></label>
            <select name="system.gruppe">
                {{selectOptions vorteilsgruppen selected=item.system.gruppe valueAttr='value'
                labelAttr='label' }}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Voraussetzung:</b></label>
            <input
                name="system.voraussetzung"
                value="{{item.system.voraussetzung}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea rows="8" name="system.text">{{item.system.text}}</textarea>
        </div>
        {{#if (ifEq item.system.gruppe "3")}}
        <div class="flexrow">
            <label><b>Script:</b></label>
            <input
                name="system.script"
                value="{{item.system.script}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div class="flexrow">
            <label><b>Bedingungen:</b></label>
            <input
                name="system.bedingungen"
                value="{{item.system.bedingungen}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div class="flexrow">
            <label><b>Foundry Script:</b></label>
            <input
                name="system.foundryScript"
                value="{{item.system.foundryScript}}"
                type="text"
                data-dtype="String"
            />
            <i class="fas fa-info-circle" 
               title="Zur Zeit kannst du hier die folgenden Methoden eintragen:
- ignoreSideWeaponMalus(NEBENWAFFE, <beliebiege Waffeneigenschaft oder leer lassen>), damit ignorierst du Erschwernisse für deine Nebenwaffe, falls eine Eigenschaft angegeben ist, wird nur ignoriert wenn die Waffe die Voraussetzung erfüllt
- affectsRangedWeaponOnly(), damit wirken sich die Modifier des Scriptes von Sephrasto nur auf Fernkampfwaffen aus (der VT Modifier wirkt sich damit nicht mehr aus)"
               style="margin-left: 5px; cursor: help;"></i>
        </div>
        {{/if}}
        <hr />
        <a class="item-delete" data-itemid="{{item._id}}">
            <button class="clickable" type="button">
                Vorteil Löschen
                <i class="fas fa-trash"></i>
            </button>
        </a>
    </div>
</form>
