<section class="sidebar" data-group="primary">
    <div class="herosidebar">
        <div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        </div>
        <div class="attribute-grid">
        {{#each (sortAlphabetically actor.system.attribute) as |attributPair|}}
        <div class="attribute-wrapper onhover" data-action="rollable" data-rolltype="fertigkeit_diag" data-probetype="attribut" data-attribut="{{attributPair.[0]}}" title="{{attributPair.[0]}}">
            <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/{{attributPair.[0]}}.webp" />
            <label class="attribute-number">
            {{attributPair.[1].pw}}
            </label>
        </div>
        {{/each}}
        </div>
        <div class="icon-row">
            <div class="icon-overlay-container">
                <img src="/systems/Ilaris/assets/images/Ilaris/ws.svg" title="WS" />
                <span class="overlay-label">{{actor.system.abgeleitete.ws}}</span>
            </div>
            <div class="icon-overlay-container">
                <img src="/systems/Ilaris/assets/images/Ilaris/wsstern.webp" title="WS*" />
                <span class="overlay-label">{{actor.system.abgeleitete.ws_stern}}</span>
            </div>
            <div class="attribute-wrapper onhover" data-action="rollable" data-rolltype="simpleprobe_diag" data-name="Magierresistenz"
            data-pw="{{actor.system.abgeleitete.mr}}">
                <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/mr.webp" title="MR" />
                <label class="attribute-number" title="MR">
                {{actor.system.abgeleitete.mr}}
                </label>
            </div>
            <div class="icon-overlay-container">
                <img src="/systems/Ilaris/assets/images/Ilaris/ini.webp" title="INI" />
                <span class="overlay-label">{{actor.system.abgeleitete.ini}}</span>
            </div>
            <div class="icon-overlay-container"> <img src="/systems/Ilaris/assets/images/Ilaris/gs.svg" title="GS" />
                <span class="overlay-label">{{actor.system.abgeleitete.gs}}</span>
            </div>
            <div class="icon-overlay-container">
                <img src="/systems/Ilaris/assets/images/Ilaris/DH.webp" title="DH" />
                <span class="overlay-label">{{actor.system.abgeleitete.dh}}</span>
            </div>
        </div>
        <div class="energy-modifiers">
            <div style="font-size: 12px">
                {{#if actor.system.abgeleitete.zauberer}}
                <label class="onhover" data-action="ausklappView" data-ausklappentarget="aspzugekauft" style="margin-right: 0.5em;"><b>AsP:</b></label>
                <label style="margin-right: 0.5em;">{{actor.system.abgeleitete.asp}}</label>
            
                <label style="margin-right: 0.1em;"><b>gAsP:</b></label>
                <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.gasp" value="{{actor.system.abgeleitete.gasp}}" type="number" />
            
                <label style="margin-right: 0.1em;"><b>AsP*:</b></label>
                <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.asp_stern" value="{{actor.system.abgeleitete.asp_stern}}" type="number" data-dtype="Number" />
            
                <span id="ausklappen-view-aspzugekauft" style="display: none; margin-left: 0.5em;">
                    <label style="margin-right: 0.1em;">Zugekauft:</label>
                    <input style="color: #efe6d8; background-color: transparent; width: 3em;" name="system.abgeleitete.asp_zugekauft" value="{{actor.system.abgeleitete.asp_zugekauft}}" type="number" data-dtype="Number" />
                </span>
                <br>
                {{/if}}
            
                {{#if actor.system.abgeleitete.geweihter}}
                <label class="onhover" data-action="ausklappView" data-ausklappentarget="kapzugekauft" style="margin-right: 0.5em;"><b>KaP:</b></label>
                <label style="margin-right: 0.5em;">{{actor.system.abgeleitete.kap}}</label>
            
                <label style="margin-right: 0.1em;"><b>gKaP:</b></label>
                <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.gkap" value="{{actor.system.abgeleitete.gkap}}" type="number" data-dtype="Number" />
            
                <label style="margin-right: 0.1em;"><b>KaP*:</b></label>
                <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.kap_stern" value="{{actor.system.abgeleitete.kap_stern}}" type="number" data-dtype="Number" />
            
                <span id="ausklappen-view-kapzugekauft" style="display: none; margin-left: 0.5em;">
                    <label style="margin-right: 0.1em;">Zugekauft:</label>
                    <input style="color: #efe6d8; background-color: transparent; width: 3em;" name="system.abgeleitete.kap_zugekauft" value="{{actor.system.abgeleitete.kap_zugekauft}}" type="number" data-dtype="Number" />
                </span>
                <br />
                {{/if}}
            </div>
            <div style="margin-top: 1.5em; font-size: 12px;">
                <a class="icon-small {{system.gesundheit.wundenignorieren}}"
                data-action="toggleBool"
                data-togglevariable="system.gesundheit.wundenignorieren"
                style="color: {{#if actor.system.gesundheit.wundenignorieren}}#efe6d8{{else}}#000000{{/if}};">
                Wundabzüge
                {{#if actor.system.gesundheit.wundenignorieren}}
                ignorieren
                {{else}}
                nicht ignorieren
                {{/if}}
                </a>
            </div>
            <div class="flexrow" style="margin-top: 0.5em; font-size: 12px;">
                <b><label style=" font-size: 12pt">{{actor.system.abgeleitete.globalermoddisplay}}</label></b>
            </div>
            <div style="margin-top: 0.5em; font-size: 12px;">
                <label><b>Manueller Mod:</b></label>
                <input style="color: #efe6d8; background-color: transparent; width: 3em" 
                    name="system.modifikatoren.manuellermod"
                    value="{{actor.system.modifikatoren.manuellermod}}"
                    type="number"
                    data-dtype="Number";
                    />
            </div>
        </div>    
  </div>
  {{#unless (gameSetting "hideSyncKampfstileButton")}}
    <div style="margin-top: 0.5em; text-align: center;">
        <a data-action="syncItems" title="Synchronisiere alle Vorteile, Übernatürliche Talente und Waffen mit ihren Kompendium-Gegenstücken. Du kannst den Button in den Gamesettings deaktivieren.">
            <i class="fas fa-sync-alt"></i> Charakter mit Kompendium synchronisieren
        </a>
    </div>
  {{/unless}}
</section>