{{log 'angriff' this}}

<div class="combat-dialog-container">
    <!-- Left Column - Main Controls -->
    <div class="left-column">
        {{#if (ifEq actor.type "held")}}
        <div>
            <label>Schips:</label>
            {{#if actor.system.schips.schips_stern}}
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="0" {{#if (ifEq checked_schips
                "0")}}checked{{/if}} /> Kein Schips
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="1" {{#if (ifEq checked_schips
                "1")}}checked{{/if}} /> Schips ohne Eigenheit
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="2" {{#if (ifEq checked_schips
                "2")}}checked{{/if}} /> Schips mit Eigenheit
            </label>
            {{else}}
            <label class="warning">Keine Schips verfügbar!</label>
            {{/if}}
        </div>
        {{/if}}
<div class="flexrow">
    <label>{{get_label "kbak"}}</label>
    <input type="checkbox" id="kbak-{{dialogId}}" {{checked item.system.manoever.kbak.selected}} />
</div>
<div class="flexrow">
    <label>{{get_label "gzkl"}}</label>
    <select id="gzkl-{{dialogId}}">
        {{selectOptions gzkl_choice selected=item.system.manoever.gzkl.selected localize=true}}
    </select>
</div>
<div class="flexrow">
    <label>{{get_label "lcht"}}</label>
    <select id="lcht-{{dialogId}}">
        {{selectOptions lcht_choice selected=item.system.manoever.lcht.selected localize=true}}
    </select>
</div>
<div class="flexrow">
    <label>{{get_label "wttr"}}</label>
    <select id="wttr-{{dialogId}}">
        {{selectOptions wttr_choice selected=item.system.manoever.wttr.selected localize=true}}
    </select>
</div>
<div class="flexrow">
    <label>{{get_label "bwng"}}</label>
    <select id="bwng-{{dialogId}}">
        {{selectOptions bwng_choice selected=item.system.manoever.bwng.selected localize=true}}
    </select>
</div>
<div class="flexrow">
    <label>{{get_label "dckg"}}</label>
    <select id="dckg-{{dialogId}}">
        {{selectOptions dckg_choice selected=item.system.manoever.dckg.selected localize=true}}
    </select>
</div>
<div class="flexrow">
    <label>{{get_label "kgtl"}}</label>
    <select id="kgtl-{{dialogId}}">
        {{selectOptions kgtl_choice selected=item.system.manoever.kgtl.selected localize=true}}
    </select>
</div>
<hr />
{{#if useTargetSelection}}
<div class="flexrow target-selection-container">
    <div class="selected-actors-display selected-actors-display-flex">
        <div class="selected-actors-list">
            {{#if selectedActors.length}}
                <div class="selected-actors-title">Ausgewählte Ziele:</div>
                {{#each selectedActors}}
                    <div>{{this.name}} ({{this.distance}} Distanz)</div>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <button class="combat-button-narrow" type="button" data-action="showNearby">
        <i class="fas fa-users"></i>
        Andere Akteure
    </button>
</div>
<hr />
{{/if}}

<div>
    <div class="maneuver-header collapsed">
        <h3>Manöver:</h3>
        <div class="toggle-display">
            <h4>Ausklappen</h4>
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="maneuver-grid collapsed">
        {{#each item.manoever as |manoever|}}
        <div
            class="maneuver-item {{#if (or manoever.inputValue.value manoever.inputValue.checked)}}has-value{{/if}}"
        >
            <label data-tooltip="{{{manoever.system.text}}}">{{manoever.name}} ({{getManoeverProbe manoever ../item}})</label>
            {{#if (ifEq manoever.inputValue.field "CHECKBOX")}}
                <input
                    type="checkbox"
                    id="{{manoever.id}}CHECKBOX-{{../dialogId}}"
                    {{#if manoever.inputValue.value}}checked{{/if}}
                />
            {{/if}}
            {{#if (ifEq manoever.inputValue.field "NUMBER")}}
                <input
                    id="{{manoever.id}}NUMBER-{{../dialogId}}"
                    type="number"
                    name="item.manoever.{{@../index}}.inputValue.value"
                    value="{{manoever.inputValue.value}}"
                    data-dtype="Number"
                    class="number-input"
                    {{#unless (ifEq manoever.inputValue.min null)}}min="{{manoever.inputValue.min}}" data-has-min="true"{{/unless}}
                    {{#if manoever.inputValue.max}}max="{{manoever.inputValue.max}}" data-has-max="true"{{/if}}
                    oninput="this.classList.toggle('out-of-bounds', (this.dataset.hasMin === 'true' &&
                    Number(this.value) < Number(this.min)) || (this.dataset.hasMax === 'true' &&
                    Number(this.value) > Number(this.max)))" />
            {{/if}}
            {{#if (ifEq manoever.inputValue.field "TREFFER_ZONE")}}
            <select
                id="{{manoever.id}}TREFFER_ZONE-{{../dialogId}}"
                name="manoever.inputValue.value"
                class="combat-select-narrow"
            >
                {{selectOptions ../trefferzonen selected=manoever.inputValue.value}}
            </select>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>

<hr />
<div class="flexrow">
    <label>Modifikator:</label>
    <input
        id="modifikator-{{dialogId}}"
        type="number"
        name="item.system.manoever.mod.selected"
        value="{{item.system.manoever.mod.selected}}"
        data-dtype="Number"
    />
</div>
<div class="flexrow">
    <label>Würfelmodus:</label>
    <select id="rollMode-{{dialogId}}">
        {{selectOptions rollModes selected=item.system.manoever.rllm.selected localize=true}}
    </select>
</div>

    </div>

    <!-- Right Column - Modifier Summary -->
    <div class="right-column">
        <div class="flex_center_center">
            <div>Würfelaktionen:</div>   
        </div>
        <div id="modifier-summary" class="modifier-summary-container">
            <!-- This will be populated by JavaScript -->
        </div>
    </div>
</div>
