{{log 'angriff' this}}

<div class="combat-dialog-container">
    <!-- Left Column - Main Controls -->
    <div class="left-column">
        {{#if (ifEq actor.type "held")}}
            <label>Schips:</label>
            {{#if actor.system.schips.schips_stern}}
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="0" {{#if (ifEq checked_schips
                "0")}}checked{{/if}} /> Kein Schips
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="1" {{#if (ifEq checked_schips
                "1")}}checked{{/if}} /> Schips ohne Eigenheit
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="2" {{#if (ifEq checked_schips
                "2")}}checked{{/if}} /> Schips mit Eigenheit
            </label>
            {{else}}
            <label class="warning">Keine Schips verfügbar!</label>
            {{/if}}
        {{/if}}
        <div class="flexrow">
            <label>{{get_label "kbak"}}</label>
            <input type="checkbox" id="kbak-{{dialogId}}" {{checked item.system.manoever.kbak.selected}} />
        </div>
        <div class="flexrow">
            {{#if item.system.manoever.vlof.offensiver_kampfstil}}
                <label>{{get_label "vlofok"}}</label>
            {{else}}
                <label>{{get_label "vlof"}}</label>
            {{/if}}
            <input type="checkbox" id="vlof-{{dialogId}}" {{checked item.system.manoever.vlof.selected}} />
        </div>
        <div class="flexrow">
            <label>{{get_label "vldf"}}</label>
            <input type="checkbox" id="vldf-{{dialogId}}" {{checked item.system.manoever.vldf.selected}} />
        </div>

        <div class="flexrow">
            <label>Passierschlag: </label>
            <input type="checkbox" id="pssl-{{dialogId}}" {{checked item.system.manoever.pssl.selected}} />
        </div>

        <!-- eingaben -->
        <div class="flexrow">
            <label>Reichweitenunterschied: </label>
            <select id="rwdf-{{dialogId}}" name="item.system.manoever.rwdf.selected" style="max-width: 150px">
                <option value="0" {{#if (eq item.system.manoever.rwdf.selected "0")}}selected{{/if}}>Ideal</option>
                <option value="1" {{#if (eq item.system.manoever.rwdf.selected "1")}}selected{{/if}}>1 Feld</option>
                <option value="2" {{#if (eq item.system.manoever.rwdf.selected "2")}}selected{{/if}}>2 Felder</option>
            </select>
        </div>

        <div class="flexrow">
            <label>Reaktionsanzahl: </label>
            <input
                id="rkaz-{{dialogId}}"
                type="number"
                name="item.system.manoever.rkaz.selected"
                value="{{item.system.manoever.rkaz.selected}}"
                data-dtype="Number"
            />
        </div>
        {{#if item.system.manoverausgleich.overcomplicated}}
        <div class="flexrow">
            <label>{{get_label "isHumanoid"}}</label>
            <input type="checkbox" id="isHumanoid-{{dialogId}}" {{checked isHumanoid}} />
        </div>
        {{/if}}

        <div class="flexrow">
            <label>{{get_label "lcht"}}</label>
            <select id="lcht-{{dialogId}}">
                {{selectOptions lcht_choice selected=item.system.manoever.lcht.selected localize=true}}
            </select>
        </div>

        <hr>

        <div>
            <div class="maneuver-header collapsed">
                <h3>Manöver:</h3>
                <div class="toggle-display">
                    <h4>Ausklappen</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div class="maneuver-grid collapsed">
                {{#each item.manoever as |manoever|}}
                    <div class="maneuver-item {{#if (or manoever.inputValue.value manoever.inputValue.checked)}}has-value{{/if}}">
                        <label data-tooltip="{{{manoever.system.text}}}">{{manoever.name}} ({{manoever.system.probe}})</label>
                        {{#if (ifEq manoever.inputValue.field "CHECKBOX")}}
                            <input
                                type="checkbox"
                                id="{{manoever.id}}CHECKBOX-{{../dialogId}}"
                                {{#if manoever.inputValue.value}}checked{{/if}}
                            />
                        {{/if}}
                        {{#if (ifEq manoever.inputValue.field "NUMBER")}}
                            <input
                                id="{{manoever.id}}NUMBER-{{../dialogId}}"
                                type="number"
                                name="item.manoever.{{@../index}}.inputValue.value"
                                value="{{manoever.inputValue.value}}"
                                data-dtype="Number"
                                class="number-input"
                                {{#unless (ifEq manoever.inputValue.min null)}}min="{{manoever.inputValue.min}}" data-has-min="true"{{/unless}}
                                {{#if manoever.inputValue.max}}max="{{manoever.inputValue.max}}" data-has-max="true"{{/if}}
                                oninput="this.classList.toggle('out-of-bounds', 
                                    (this.dataset.hasMin === 'true' && Number(this.value) < Number(this.min)) || 
                                    (this.dataset.hasMax === 'true' && Number(this.value) > Number(this.max)))"
                            />
                        {{/if}}
                        {{#if (ifEq manoever.inputValue.field "TREFFER_ZONE")}}
                            <select id="{{manoever.id}}TREFFER_ZONE-{{../dialogId}}" name="manoever.inputValue.value" style="max-width: 150px">
                                {{selectOptions ../trefferzonen selected=manoever.inputValue.value}}
                            </select>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>

        <hr />
        <div class="flexrow">
            <label>Modifikator: </label>
            <input
                id="modifikator-{{dialogId}}"
                type="number"
                name="item.system.manoever.mod.selected"
                value="{{item.system.manoever.mod.selected}}"
                data-dtype="Number"
            />
        </div>
        <div class="flexrow">
            <label>Würfelmodus: </label>
            <select id="rollMode-{{dialogId}}">
                {{selectOptions rollModes selected=item.system.manoever.rllm.selected localize=true}}
            </select>
        </div>


    </div>

    <!-- Right Column - Modifier Summary -->
    <div class="right-column">
        <div id="modifier-summary" class="modifier-summary-container">
            <!-- This will be populated by JavaScript -->
        </div>
    </div>
</div>
