{{log 'kampf' this}}
<div>
    {{#if actor.system.modifikatoren.nahkampfmod}}
    <div class="flexrow" style="float: right">
        <b><label
                style="color: {{modColor actor.system.modifikatoren.nahkampfmod}}">{{actor.system.abgeleitete.nahkampfmoddisplay}}</label></b>
    </div>
    {{/if}}
    <h2>Kampfstil und Beritten</h2>
    <div style="display: flex; align-items: center; gap: 10px;">
        <select class="selected-kampfstil" name="system.misc.selected_kampfstil">
            {{selectOptions actor.misc.kampfstile_list selected=actor.system.misc.selected_kampfstil}}
        </select>
        <label style="display: flex; align-items: center; gap: 5px;">
            <input type="checkbox" name="system.misc.ist_beritten" {{checked actor.system.misc.ist_beritten}} />
            Beritten
        </label>
    </div>

    {{#if actor.misc.selected_kampfstil_conditions_not_met}}
        <div style="margin-top: 8px; padding: 8px; background-color: #f8d7da; border: 1px solid #f5c6cb; border-radius: 4px; color: #721c24;">
            <i class="fas fa-exclamation-triangle" style="color: #dc3545; margin-right: 5px;"></i>
            <strong>Kampfstil inaktiv:</strong> {{actor.misc.selected_kampfstil_conditions_not_met}}
        </div>
    {{/if}}
    <h2>Nahkampfwaffen</h2>
    <a class="item-create" data-itemclass="nahkampfwaffe"><i class="fas fa-plus"></i>Neue Nahkampfwaffe</a>
    <table class="table">
        <thead>
            <tr>
                <th class="icon-small"></th>
                <th class="icon-small">HW</th>
                <th class="icon-small">NW</th>
                <th>Name</th>
                <th>RW</th>
                <th>AT</th>
                <th>VT</th>
                <th>Schaden</th>
                <th class="icon-small"></th>
                <th class="icon-small"></th>
            </tr>
        </thead>
        <tbody>
            {{#each actor.nahkampfwaffen as |nwaffe key|}}
            <tr>
                <td class="icon-small">
                    <a class="rollable" data-rolltype="angriff_diag" data-itemid="{{nwaffe.id}}">
                        <i class="custom-icon"></i>
                    </a>
                </td>
                <td class="icon-small">
                    <a class="item-toggle {{nwaffe.system.hauptwaffe}}" data-itemid="{{nwaffe.id}}"
                        data-toggletype="hauptwaffe">
                        <i class="far fa-hand-paper"></i>
                    </a>
                </td>
                <td class="icon-small">
                    <a class="item-toggle {{nwaffe.system.nebenwaffe}}" data-itemid="{{nwaffe.id}}"
                        data-toggletype="nebenwaffe">
                        <i class="far fa-hand-paper"></i>
                    </a>
                </td>
                <td class="ausklappen-trigger onhover" data-ausklappentarget="{{nwaffe.id}}">{{nwaffe.name}}</td>
                <td>{{nwaffe.system.rw_mod}}</td>
                <td class="rollable onhover" data-rolltype="at" data-pw="{{nwaffe.system.at}}"
                    data-item="{{nwaffe.name}}" data-itemid="{{nwaffe.id}}" data-tooltip="{{nwaffe.system.computed.modifiers.at}}">
                    {{nwaffe.system.at}}
                </td>
                <td class="rollable onhover" data-rolltype="vt" data-pw="{{nwaffe.system.vt}}"
                    data-item="{{nwaffe.name}}" data-itemid="{{nwaffe.id}}" data-tooltip="{{nwaffe.system.computed.modifiers.vt}}">
                    {{nwaffe.system.vt}}
                </td>
                <td class="rollable onhover" data-rolltype="schaden" data-pw="{{nwaffe.system.schaden}}"
                    data-item="{{nwaffe.name}}" data-itemid="{{nwaffe.id}}" data-tooltip="{{nwaffe.system.computed.modifiers.dmg}}">
                    {{nwaffe.system.schaden}}
                </td>
                <td class="icon-small">
                    <a class="item-edit" data-itemclass="nahkampfwaffe" data-itemid="{{nwaffe.id}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="icon-small">
                    <a class="item-delete" data-itemclass="nahkampfwaffe" data-itemid="{{nwaffe.id}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            <tr id="ausklappen-view-{{nwaffe.id}}" style="display: none">
                <td colspan="10">
                    <hr />
                    <div><b>Schaden:</b> {{nwaffe.system.schaden}}</div>
                    <div><b>Fertigkeit:</b> {{nwaffe.system.fertigkeit}}</div>
                    <div><b>Talent:</b> {{nwaffe.system.talent}}</div>
                    <div><b>Eigenschaften:</b> {{waffeneigenschaften_string nwaffe}}</div>
                    <div><b>WM:</b> {{nwaffe.system.wm_at}} / {{nwaffe.system.wm_vt}}</div>
                    <div><b>Härte:</b> {{nwaffe.system.haerte}}</div>
                    <div><b>Beschädigung:</b> {{nwaffe.system.beschaedigung}}</div>
                    <div><b>Eigene Modifikatoren</b></div>
                    <div><b>WM:</b> {{nwaffe.system.mod_at}} / {{nwaffe.system.mod_vt}}</div>
                    <div><b>Schadensbonus:</b> {{nwaffe.system.mod_schaden}}</div>
                    <div><b>Beschreibung:</b><br /><span style="white-space: pre-line">{{{nwaffe.system.text}}}</span>
                    </div>
                    <hr />
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br />
    <h2>Fernkampfwaffen</h2>
    <a class="item-create" data-itemclass="fernkampfwaffe"><i class="fas fa-plus"></i>Neue Fernkampfwaffe</a>
    <div>
        <table class="table" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th class="icon-small"></th>
                    <th class="icon-small">HW</th>
                    <th class="icon-small">NW</th>
                    <th>Name</th>
                    <th>RW</th>
                    <th>LZ</th>
                    <th>FK</th>
                    <th>Schaden</th>
                    <th class="icon-small"></th>
                    <th class="icon-small"></th>
                </tr>
            </thead>
            <tbody>
                {{#each actor.fernkampfwaffen as |fwaffe key|}}
                <tr>
                    <td><a class="rollable icon-small" data-rolltype="fernkampf_diag" data-itemid="{{fwaffe.id}}"><i
                                class="custom-icon"></i></a></td>
                    <td><a class="icon-small item-toggle {{fwaffe.system.hauptwaffe}}" data-itemid="{{fwaffe.id}}"
                            data-toggletype="hauptwaffe"><i class="far fa-hand-paper"></i></a></td>
                    <td><a class="icon-small item-toggle {{fwaffe.system.nebenwaffe}}" data-itemid="{{fwaffe.id}}"
                            data-toggletype="nebenwaffe"><i class="far fa-hand-paper"></i></a></td>
                    <td class="ausklappen-trigger onhover" data-ausklappentarget="{{fwaffe.id}}">{{fwaffe.name}}</td>
                    <td>{{fwaffe.system.rw_mod}}</td>
                    <td>{{fwaffe.system.lz}}</td>
                    <td class="rollable onhover" data-rolltype="fk" data-pw="{{fwaffe.system.fk}}"
                        data-item="{{fwaffe.name}}" data-tooltip="{{fwaffe.system.computed.modifiers.at}}">{{fwaffe.system.fk}}</td>
                    <td class="rollable onhover" data-rolltype="schaden" data-pw="{{fwaffe.system.schaden}}"
                        data-item="{{fwaffe.name}}" data-tooltip="{{fwaffe.system.computed.modifiers.dmg}}">{{fwaffe.system.schaden}}</td>
                    <td><a class="item-edit icon-small" data-itemclass="fernkampfwaffe" data-itemid="{{fwaffe.id}}"><i
                                class="fas fa-edit"></i></a></td>
                    <td><a class="item-delete icon-small" data-itemclass="fernkampfwaffe" data-itemid="{{fwaffe.id}}"><i
                                class="fas fa-trash"></i></a></td>
                </tr>
                <tr id="ausklappen-view-{{fwaffe.id}}" style="display:none;">
                    <td colspan="10">
                        <hr />
                        <div><b>Schaden:</b> {{fwaffe.system.schaden}}</div>
                        <div><b>Fertigkeit:</b> {{fwaffe.system.fertigkeit}}</div>
                        <div><b>Talent:</b> {{fwaffe.system.talent}}</div>
                        <div><b>Eigenschaften:</b> {{waffeneigenschaften_string this}}</div>
                        <div><b>WM:</b> {{fwaffe.system.wm_fk}}</div>
                        <div><b>Härte:</b> {{fwaffe.system.haerte}}</div>
                        <div><b>Beschädigung:</b> {{fwaffe.system.beschaedigung}}</div>
                        <div><b>Eigene Modifikatoren</b></div>
                        <div><b>WM:</b> {{fwaffe.system.mod_fk}}</div>
                        <div><b>Schadensbonus:</b> {{fwaffe.system.mod_schaden}}</div>
                        <div><b>Beschreibung:</b><br />
                            <span style="white-space: pre-line">{{{fwaffe.system.text}}}</span>
                        </div>
                        <hr />
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <br />

    <h2>Rüstungen</h2>
    <a class="item-create" data-itemclass="ruestung"><i class="fas fa-plus"></i>Neue Rüstung</a>
<table class="table" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th class="icon-small"><i class="fas fa-shield-alt"></i></th>
      <th>Name</th>
      <th>RS</th>
      <th>BE</th>
      <th>Bein</th>
      <th>l. Arm</th>
      <th>r. Arm</th>
      <th>Bauch</th>
      <th>Brust</th>
      <th>Kopf</th>
      <th class="icon-small"></th>
      <th class="icon-small"></th>
    </tr>
  </thead>
  <tbody>
    {{#each actor.ruestungen as |ruestung key|}}
    <tr>
      <td class="icon-small item-toggle {{ruestung.system.aktiv}}" data-itemid="{{ruestung.id}}" data-toggletype="aktiv">
        <i class="fas fa-shield-alt"></i>
      </td>
      <td>{{ruestung.name}}</td>
      <td>{{ruestung.system.rs}}</td>
      <td>{{ruestung.system.be}}</td>
      <td>{{ruestung.system.rs_beine}}</td>
      <td>{{ruestung.system.rs_larm}}</td>
      <td>{{ruestung.system.rs_rarm}}</td>
      <td>{{ruestung.system.rs_bauch}}</td>
      <td>{{ruestung.system.rs_brust}}</td>
      <td>{{ruestung.system.rs_kopf}}</td>
      <td class="icon-small item-edit" data-itemclass="ruestung" data-itemid="{{ruestung.id}}">
        <i class="fas fa-edit"></i>
      </td>
      <td class="icon-small item-delete" data-itemclass="ruestung" data-itemid="{{ruestung.id}}">
        <i class="fas fa-trash"></i>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td><strong>Gesamt (WS*)</strong></td>
      <td>{{actor.system.abgeleitete.ws_stern}}</td>
      <td>{{actor.system.abgeleitete.be}}</td>
      <td>{{actor.system.abgeleitete.ws_beine}}</td>
      <td>{{actor.system.abgeleitete.ws_larm}}</td>
      <td>{{actor.system.abgeleitete.ws_rarm}}</td>
      <td>{{actor.system.abgeleitete.ws_bauch}}</td>
      <td>{{actor.system.abgeleitete.ws_brust}}</td>
      <td>{{actor.system.abgeleitete.ws_kopf}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

    <br />

    <h2>Vorteile</h2>
    {{#if actor.vorteil.kampf}}
    <div>
        <label>
            <b>Kampfvorteile:</b>
            &nbsp; | &nbsp;
        </label>
        {{#each actor.vorteil.kampf}}
        <a class="item-edit" data-itemid="{{this.id}}" data-tooltip="{{{this.system.text}}}">{{this.name}}</a>
        <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
        &nbsp; | &nbsp; {{/each}}
    </div>
    {{/if}} {{#if actor.vorteil.kampfstil}}
    <div>
        <label>
            <b>Kampfstile:</b>
            &nbsp; | &nbsp;
        </label>
        {{#each actor.vorteil.kampfstil}}
        <a class="item-edit" data-itemid="{{this.id}}" data-tooltip="{{{this.system.text}}}">{{this.name}}</a>
        <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
        &nbsp; | &nbsp; {{/each}}
    </div>
    {{/if}}
</div>