<div>
    <label>Anzahl W20: </label>
    <label><input type="radio" name="xd20-{{dialogId}}" value="0" {{#if (ifEq checked_xd20 "0")}}checked{{/if}}> 1W20</label>
    <label><input type="radio" name="xd20-{{dialogId}}" value="1" {{#if (ifEq checked_xd20 "1")}}checked{{/if}}> 3W20</label>
</div>
<div>
    <label>Schips: </label>
    <label><input type="radio" name="schips-{{dialogId}}" value="0" {{#if (ifEq checked_schips "0")}}checked{{/if}}> Kein Schips</label>
    <label><input type="radio" name="schips-{{dialogId}}" value="1" {{#if (ifEq checked_schips "1")}}checked{{/if}}> Schips ohne Eigenheit</label>
    <label><input type="radio" name="schips-{{dialogId}}" value="2" {{#if (ifEq checked_schips "2")}}checked{{/if}}> Schips mit Eigenheit</label>
</div>
<hr />
<div class="flexrow">
    <label for="hohequalitaet">Hohe Qualität: </label>
    <input id="hohequalitaet-{{dialogId}}" type="number" value="" data-dtype="Number" />
</div>
<div class="flexrow">
    <label for="modifikator">Modifikator: </label>
    <input id="modifikator-{{dialogId}}" type="number" value="" data-dtype="Number" />
</div>
<hr />
<div class="flexrow">
    <label>Würfelmodus: </label>
    <select id="rollMode">
        {{selectOptions rollModes selected=defaultRollMode localize=true}}
    </select>
</div>
