<section class="header" data-group="primary">
    <div class=heroheader>
        <div>
        <h1><input name="name" type="text" value="{{actor.name}}" /></h1>

        </div>
        <div class="flexrow">
        {{#each (range 1 (add actor.system.schips.schips 1)) as |index|}}
        {{#if (lte index ../actor.system.schips.schips_stern)}}
        <span class="schips-button filled" name="system.schips.schips_stern" data-action="schipsClick" title="Schicksalspunkt"></span>
        {{else}}
        <span class="schips-button" data-action="schipsClick" title="verbrauchter Schicksalspunkt"></span>
        {{/if}}
        {{/each}}
        </div>

    </div>

    <div class="heroattributes">
        <div id="lebensleiste">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Leben.webp" data-edit="img" title="Leben"
            height="50" width="50" />
        {{#each (range 0 8) as |index|}}
        <button type="button"
            class="triStateBtn state-{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}"
            data-action="triStateClick"
            data-state="{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}">
        </button>
        {{/each}}
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Tod.webp" data-edit="img" title="Tod"
            height="50" width="50" />
        </div>
        <div class="status-effects">
        {{#each actor.effects as |effect|}}
        {{#if effect.icon}}
        <img class="effect-control {{#if effect.active}}active{{/if}}" src="{{effect.icon}}"
            data-tooltip="{{effect.name}}" data-status-id="{{effect.statusId}}" />
        {{/if}}
        {{/each}}
        </div>
    </div>
</section>