<nav class="sheet-tabs tabs herotabnavigation">
    <a data-action="tab" class="tab-item {{tabs.attribute.cssClass}}" data-group="primary" data-tab="attribute">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/attribute.webp" height="20" width="20" />
        <span>Attribute</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.fertigkeiten.cssClass}}" data-group="primary" data-tab="fertigkeiten">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/holzbearbeitung.webp" height="20" width="20" />
        <span>Fertigkeiten</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.uebernatuerlich.cssClass}}" data-group="primary" data-tab="uebernatuerlich">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/gildenmagie.webp" height="20" width="20" />
        <span>Übernatürlich</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.kampf.cssClass}}" data-group="primary" data-tab="kampf">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/beidhaendig.webp" height="20" width="20" />
        <span>Kampf</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.inventar.cssClass}}" data-group="primary" data-tab="inventar">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Inventar.webp" height="20" width="20" />
        <span>Inventar</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.notes.cssClass}}" data-group="primary" data-tab="notes">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.webp" height="20" width="20" />
        <span>Notizen</span>
    </a>
    <a data-action="tab" class="tab-item {{tabs.effects.cssClass}}" data-group="primary" data-tab="effects">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.webp" height="20" width="20" />
        <span>Effekte</span>
    </a>
</nav>