{{log 'actor-sheet' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <div style="float: left">
                <img
                    class="profile-img"
                    src="{{actor.img}}"
                    data-edit="img"
                    title="{{actor.name}}"
                    height="100"
                    width="100"
                />
            </div>
            <div style="float: left">
                <input name="name" type="text" value="{{actor.name}}" />
                <div class="flexrow">
                    <label>Erschöpfung:</label>
                    <input
                        class="hp-update"
                        name="system.gesundheit.erschoepfung"
                        value="{{actor.system.gesundheit.erschoepfung}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
                <div class="flexrow">
                    <label>Wunden:</label>
                    <input
                        class="hp-update"
                        name="system.gesundheit.wunden"
                        value="{{actor.system.gesundheit.wunden}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
                <div class="flexrow"></div>
                <a
                    class="icon-small toggle-bool {{actor.system.gesundheit.wundenignorieren}}"
                    data-togglevariable="system.gesundheit.wundenignorieren"
                >
                    Wundabzüge ignorieren {{#if actor.system.gesundheit.wundenignorieren}}
                    (aktiviert) {{else}} (nicht aktiv) {{/if}}
                </a>
            </div>
        </div>
        {{log 'ships' this.actor.system.schips}}
        <div style="float: left">
            <div class="flexrow">
                <label>Schip:</label>
                <label>{{actor.system.schips.schips}}</label>
                <label>Schip*:</label>
                <input
                    name="system.schips.schips_stern"
                    value="{{actor.system.schips.schips_stern}}"
                    type="text"
                    data-dtype="Number"
                />
            </div>
            <div class="flexrow">
                <label>WS:</label>
                <label>{{actor.system.abgeleitete.ws}}</label>
                <label>WS*:</label>
                <label>{{actor.system.abgeleitete.ws_stern}}</label>
            </div>
            <div class="flexrow">
                <label>MR:</label>
                <label
                    class="rollable onhover"
                    data-rolltype="simpleprobe_diag"
                    data-name="Magierresistenz"
                    data-pw="{{actor.system.abgeleitete.mr}}"
                >
                    {{actor.system.abgeleitete.mr}}
                </label>
                <label>INI:</label>
                <label>{{actor.system.abgeleitete.ini}}</label>
            </div>
            <div class="flexrow">
                <label>GS*:</label>
                <label>{{actor.system.abgeleitete.gs}}</label>
                <label>DH*:</label>
                <label>{{actor.system.abgeleitete.dh}}</label>
            </div>
            <div class="flexrow">
                <label>-</label>
            </div>
        </div>
    </div>
    <div style="float: left"></div>
    <div class="flexrow">
        <label
            style="{{#if actor.system.gesundheit.wundenignorieren }}text-decoration:line-through;{{/if}}"
        >
            {{actor.system.gesundheit.display}}
        </label>
    </div>
    <div class="flexrow">
        <label>{{actor.system.furcht.display}}</label>
    </div>
    <div class="flexrow">
        <input
            class="flex0"
            name="system.modifikatoren.manuellermod"
            value="{{actor.system.modifikatoren.manuellermod}}"
            type="text"
            data-dtype="Number"
        />
        <label>auf alle Proben (Manuell)</label>
    </div>
    <hr />
    <div class="flexrow">
        <b>
            <label style="color: {{modColor actor.system.abgeleitete.globalermod}}">
                {{actor.system.abgeleitete.globalermoddisplay}}
            </label>
        </b>
    </div>
    <div style="clear: both"></div>
    <hr />
    <div class="sheet-tabs tabs" data-group="primary">
        <b class="item" data-tab="attribute">Attribute</b>
        <b class="item" data-tab="fertigkeiten">Fertigkeiten</b>
        <b class="item" data-tab="uebernatuerlich">Magie & Karma</b>
        <b class="item" data-tab="kampf">Kampf</b>
        <b class="item" data-tab="inventar">Inventar</b>
        <b class="item" data-tab="notes">Notizen</b>
        <b class="item" data-tab="effekte">Effekte</b>
    </div>
    <hr />
    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="notes">
            {{> systems/Ilaris/templates/sheets/tabs/notes.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="attribute">
            {{> systems/Ilaris/templates/sheets/tabs/attribute.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="fertigkeiten">
            {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="uebernatuerlich">
            {{> systems/Ilaris/templates/sheets/tabs/uebernatuerlich.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="kampf">
            {{> systems/Ilaris/templates/sheets/tabs/kampf.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="effekte">
            {{> systems/Ilaris/templates/sheets/tabs/effekte.hbs}}
        </div>
        <div class="tab" data-group="primary" data-tab="inventar">
            {{> systems/Ilaris/templates/sheets/tabs/inventar.hbs}}
        </div>
    </div>
</form>
