{{log 'actor-sheet' this}}
<form class="herosheet" autocomplete="off">
  <div class=heroheader>
    <div>
      <h1><input name="name" type="text" value="{{actor.name}}" /></h1>

    </div>
    <div class="flexrow">
      {{#each (range 1 (add actor.system.schips.schips 1)) as |index|}}
      {{#if (lte index ../actor.system.schips.schips_stern)}}
      <span class="schips-button filled" name="system.schips.schips_stern" title="Schicksalspunkt"></span>
      {{else}}
      <span class="schips-button" title="verbrauchter Schicksalspunkt"></span>
      {{/if}}
      {{/each}}
    </div>

  </div>

  <div class="herosidebar">
    <div>
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    </div>
    <div class="attribute-grid">
      {{#each (sortAlphabetically actor.system.attribute) as |attributPair|}}
      <div class="attribute-wrapper rollable onhover" data-rolltype="fertigkeit_diag" data-probetype="attribut" data-attribut="{{attributPair.[0]}}" title="{{attributPair.[0]}}">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/{{attributPair.[0]}}.webp" />
        <label class="attribute-number">
          {{attributPair.[1].pw}}
        </label>
      </div>
      {{/each}}
    </div>
    <p> </p>
    <div class="icon-row">
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/ws.svg" title="WS" />
        <span class="overlay-label">{{actor.system.abgeleitete.ws}}</span>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/wsstern.webp" title="WS*" />
        <span class="overlay-label">{{actor.system.abgeleitete.ws_stern}}</span>
      </div>
      <div class="attribute-wrapper rollable onhover" data-rolltype="simpleprobe_diag" data-name="Magierresistenz"
      data-pw="{{actor.system.abgeleitete.mr}}">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/mr.webp" title="MR" />
        <label class="attribute-number" title="MR">
          {{actor.system.abgeleitete.mr}}
        </label>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/ini.webp" title="INI" />
        <span class="overlay-label">{{actor.system.abgeleitete.ini}}</span>
      </div>
      <div class="icon-overlay-container"> <img src="/systems/Ilaris/assets/images/Ilaris/gs.svg" title="GS" />
        <span class="overlay-label">{{actor.system.abgeleitete.gs}}</span>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/DH.webp" title="DH" />
        <span class="overlay-label">{{actor.system.abgeleitete.dh}}</span>
      </div>
    </div>
    <p> </p>
    <div style="color: #efe6d8;">
      <div style="font-size: 12px">
        {{#if actor.system.abgeleitete.zauberer}}
          <label class="ausklappen-trigger onhover" data-ausklappentarget="aspzugekauft" style="margin-right: 0.5em;"><b>AsP:</b></label>
          <label style="margin-right: 0.5em;">{{actor.system.abgeleitete.asp}}</label>
    
          <label style="margin-right: 0.1em;"><b>gAsP:</b></label>
          <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.gasp" value="{{actor.system.abgeleitete.gasp}}" type="number" />
    
          <label style="margin-right: 0.1em;"><b>AsP*:</b></label>
          <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.asp_stern" value="{{actor.system.abgeleitete.asp_stern}}" type="number" data-dtype="Number" />
    
          <span id="ausklappen-view-aspzugekauft" style="display: none; margin-left: 0.5em;">
            <label style="margin-right: 0.1em;">Zugekauft:</label>
            <input style="color: #efe6d8; background-color: transparent; width: 3em;" name="system.abgeleitete.asp_zugekauft" value="{{actor.system.abgeleitete.asp_zugekauft}}" type="number" data-dtype="Number" />
          </span>
          <br>
        {{/if}}
    
        {{#if actor.system.abgeleitete.geweihter}}
          <label class="ausklappen-trigger onhover" data-ausklappentarget="kapzugekauft" style="margin-right: 0.5em;"><b>KaP:</b></label>
          <label style="margin-right: 0.5em;">{{actor.system.abgeleitete.kap}}</label>
    
          <label style="margin-right: 0.1em;"><b>gKaP:</b></label>
          <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.gkap" value="{{actor.system.abgeleitete.gkap}}" type="number" data-dtype="Number" />
    
          <label style="margin-right: 0.1em;"><b>KaP*:</b></label>
          <input style="color: #efe6d8; background-color: transparent; width: 3em; margin-right: 0.5em;" name="system.abgeleitete.kap_stern" value="{{actor.system.abgeleitete.kap_stern}}" type="number" data-dtype="Number" />
    
          <span id="ausklappen-view-kapzugekauft" style="display: none; margin-left: 0.5em;">
            <label style="margin-right: 0.1em;">Zugekauft:</label>
            <input style="color: #efe6d8; background-color: transparent; width: 3em;" name="system.abgeleitete.kap_zugekauft" value="{{actor.system.abgeleitete.kap_zugekauft}}" type="number" data-dtype="Number" />
          </span>
          <br />
        {{/if}}
      </div>
      <div style="margin-top: 1.5em; font-size: 12px;">
        <a class="icon-small toggle-bool {{system.gesundheit.wundenignorieren}}"
          data-togglevariable="system.gesundheit.wundenignorieren"
          style="color: {{#if actor.system.gesundheit.wundenignorieren}}#efe6d8{{else}}#000000{{/if}};">
          Wundabzüge
          {{#if actor.system.gesundheit.wundenignorieren}}
          ignorieren
          {{else}}
          nicht ignorieren
          {{/if}}
        </a>
      </div>
      <div class="flexrow" style="margin-top: 0.5em; font-size: 12px;">
        <b><label style=" font-size: 12pt">{{actor.system.abgeleitete.globalermoddisplay}}</label></b>
      </div>
      <div style="margin-top: 0.5em; font-size: 12px;">
        <label><b>Manueller Mod:</b></label>
        <input style="color: #efe6d8; background-color: transparent; width: 3em" 
              name="system.modifikatoren.manuellermod"
              value="{{actor.system.modifikatoren.manuellermod}}"
              type="number"
              data-dtype="Number";
              />
      </div>
    </div>    
  </div>

  <div class="heroattributes">
    <div id="lebensleiste">
      <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Leben.webp" data-edit="img" title="Leben"
        height="50" width="50" />
      {{#each (range 0 8) as |index|}}
      <button type="button"
        class="triStateBtn state-{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}"
        data-state="{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}">
      </button>
      {{/each}}
      <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Tod.webp" data-edit="img" title="Tod"
        height="50" width="50" />
    </div>
    {{#unless (gameSetting "hideSyncKampfstileButton")}}
    <div style="margin-top: 0.5em; text-align: center;">
      <a class="sync-items clickable" title="Synchronisiere alle Vorteile, Übernatürliche Talente und Waffen mit ihren Kompendium-Gegenstücken. Du kannst den Button in den Gamesettings deaktivieren.">
        <i class="fas fa-sync-alt"></i> Charakter mit Kompendium synchronisieren
      </a>
    </div>
    {{/unless}}
    <div class="status-effects">
      {{#each actor.effects as |effect|}}
      {{#if effect.icon}}
      <img class="effect-control {{#if effect.active}}active{{/if}}" src="{{effect.icon}}"
        data-tooltip="{{effect.name}}" data-status-id="{{effect.statusId}}" />
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class=herotabnavigation>
    <hr />
    <div class="sheet-tabs tabs" data-group="primary">
      <b class="tab-item" data-tab="attribute">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/attribute.webp" height="20" width="20" />
        Attribute
      </b>
      <b class="tab-item" data-tab="fertigkeiten">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/holzbearbeitung.webp" height="20" width="20" />
        Fertigkeiten
      </b>
      <b class="tab-item" data-tab="uebernatuerlich">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/gildenmagie.webp" height="20" width="20" />
        Übernatürlich
      </b>
      <b class="tab-item" data-tab="kampf">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/beidhaendig.webp" height="20" width="20" />
        Kampf
      </b>
      <b class="tab-item" data-tab="inventar">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Inventar.webp" height="20" width="20" />
        Inventar
      </b>
      <b class="tab-item" data-tab="notes">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.webp" height="20" width="20" />
        Notizen
      </b>
    </div>
  </div>

  <div class=herotab>
    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="kampf">
        {{> systems/Ilaris/templates/sheets/tabs/kampf.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="inventar">
        {{> systems/Ilaris/templates/sheets/tabs/inventar.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="notes">
        {{> systems/Ilaris/templates/sheets/tabs/notes.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="attribute">
        {{> systems/Ilaris/templates/sheets/tabs/attribute.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="fertigkeiten">
        {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="uebernatuerlich">
        {{> systems/Ilaris/templates/sheets/tabs/uebernatuerlich.hbs}}
      </div>
    </div>
  </div>
</form>
