<h2>Mitführend</h2>
<!-- (Gewicht wird nicht berücksichtigt) -->
<div class="flexrow">
    <label><b>Name</b></label>
    {{#if isWeaponSpaceRequirementActive}}
        <label><b>{{get_label "gewicht"}}:&nbsp;&nbsp;</b></label>
        <label data-tooltip="{{get_label 'tooltipCapacityLimitCarry'}}" class="{{#if (ifGt actor.system.getragen actor.system.abgeleitete.traglast)}}maximum-load-exceeded{{/if}}"><b> {{actor.system.getragen}} / {{actor.system.abgeleitete.traglast}} ({{actor.system.abgeleitete.traglast_intervall}})</b></label>
    {{/if}}
    <label></label>
    <label class="icon-small"></label>
    <label class="icon-small"></label>
</div>
<div class="twokindrow">
    {{#each actor.inventar.mitfuehrend as |item key|}}
    <div class="flexrow">
        <label>{{item.name}}</label>
        {{#if ../isWeaponSpaceRequirementActive}}
            <label>{{item.system.gewicht}}</label>
            <label></label>
        {{/if}}

        <label></label>
        <a class="item-edit icon-small" data-itemid="{{item.id}}"><i class="fas fa-edit"></i></a>
        <a class="item-delete icon-small" data-itemid="{{item.id}}"><i class="fas fa-trash"></i></a>
    </div>
    {{/each}}
</div>
maximum-load-exceeded